

body {
    font-family: Verdana;
    background-image: url("../images/Fondo_index.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    color: white;
}


.bloque {
    width: 50%;
    margin: auto;
}

.col-izquierda {
    float: left;
    width: 50%;
    text-align: center;
}


.col-derecha {
    float: left;
    width: 50%;
    text-align: left;
}

.col-derecha ul {
    list-style: none;
    padding-left: 0;
}

.col-derecha a {
    color: white;
    text-decoration: none;
}







/*

COMENTARIOS / RECORDATORIOS:


1) Recuerda, en el archivo .html que use este CSS en su <head> debe incluir está línea de código:

        <head>
            [...]
            <link rel="stylesheet" type="text/css" href="./css/estilos.css" media="screen" />
        </head>



*/