

body {
    background-image: url("../images/Fondo_index.jpg");
    background-position: center;
    background-size: cover;
}


h1 {color: white; font-family: Verdana}

.contenedor {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}


.col-izquierda {
    width: 50%;
    text-align: center;
}

.col-izquierda img {
    width: 50%;
}

.col-derecha {
    width: 50%;
    text-align: left;
}

.col-derecha ul {
    font-size: 18px;
}

.col-derecha a {
    color: white;
}




/*

COMENTARIOS / RECORDATORIOS:


1) Recuerda, en el archivo .html que use este CSS en su <head> debe incluir está línea de código:

        <head>
            [...]
            <link rel="stylesheet" type="text/css" href="./css/estilos.css" media="screen" />
        </head>



*/