



*{

}



body {
  
}



h1 {
  padding: 0px;
  margin: 0px;
  


}




img {
  
}




ul {

}





li {

}




p {
  
}




#header {
  text-align: center;
  background-color: #97a7ba;

  padding: 0px;
  margin: 0px;


  border-width: 5px;
  border-bottom-color: black;
  border-bottom-style: solid;
}




#content{
  
}




#text {
  
}




#text p {

  /* Los tres párrafos arrojan sombras. */
  box-shadow: 5px 5px 5px 5px black;
  border-width: 5px;
  border-style: dashed;
  border-color: black;

  /* Los Párrafos tienen una sangría de 40 px en la primera línea. */
  text-indent: 40px;

  
}




#text p:first-child {

  /* Las esquinas del primer párrafo aparecen redondeadas solo en la parte superior 30px. */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-image: url("../images/fondoParrafo.png");
  


}



/* Para conseguir que el segundo párrafo tenga un color de fondo que no está presente en el primero he tenido que crear este selector:  */
#text p:nth-child(2){

  background-color: #83abdd;


}





#text p:last-child {
  
  /* Las esquinas del último párrafo aparecen redondeadas solo en la parte inferior 30px.*/
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #83abdd;
 


}




#menu {

  text-align: center;
}





#menu a{

}





#menu li{

  display: inline-block;

  /* A la izquierda de cada opción de menú aparece una linea roja de 5px. */
  border-left: 5px solid #ff0000
  

}




#menu li a:hover{

}





#footer{

  border-top-color: black;
  border-top-width: 5px;
  border-style: solid;

  text-align: center;
  background-color: #883bd0;

  color: white;

}





#footer a{

  color: white;
  

}





#footer a:hover{

}




#image {
  
  /* "Tiene una separación a la derecha de 60px: */
  margin-right: 60px;
 
  margin-top: 5px;
  
  display: block;
  text-align: right;
  
  
}



#image img {
  border-width: 5px;
  border-color: black;
  border-style: solid;
}






@media all and (max-width: 500px) {

}






/*                      




 DESCARTADO:

        position: absolute;
        right: 0;
        margin-left: auto;

        line-height: 0;

        line-height: 0;
        height:40px;














*/









