



*{

}



body {
  
}



h1 {
  padding: 0px;
  margin: 0px;
}




img {
  
}




ul {

}





li {

}




p {
  
}




#header {
  text-align: center;
  background-color: #97a7ba;

  padding: 0px;
  margin: 0px;

  border-width: 5px;
  border-bottom-color: black;
  border-bottom-style: solid;
}




#content{
  
}




#text {
  
}




#text p {

  /* Los tres párrafos arrojan sombras. */
  box-shadow: 5px 5px 5px 5px black;

  border-width: 5px;
  border-style: dashed;
  border-color: black;

  /* Los Párrafos tienen una sangría de 40 px en la primera línea. */
  text-indent: 40px;

  /* Los tres párrafos rellenan el 90% de la ventana. */
  width: 90%;
  margin-right: auto;
  margin-left: auto;

  /* Los párrafos no rellenan completamente la caja asignada, deben estar separados 10px. */
  padding: 10px;


}




#text p:first-child {

  /* Las esquinas del primer párrafo aparecen redondeadas solo en la parte superior 30px. */
  /* La imagen de fondo por defecto se repite sola para cubrir toda la superficie del fondo del párrafo. Si no quieres que se repita añades esta línea: background-repeat: no-repeat; */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-image: url("../images/fondoParrafo.png");
  


}



/* Para conseguir que el segundo párrafo tenga un color de fondo que no está presente en el primero he tenido que crear este selector:  */
#text p:nth-child(2){
  background-color: #83abdd;
}





#text p:last-child {
  
  /* Las esquinas del último párrafo aparecen redondeadas solo en la parte inferior 30px.*/
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #83abdd;
 
}




#menu {
  text-align: center;
}





#menu a{

}





#menu li{

  /*  Para que los enlaces se comporten como pequeñas cajitas que se disponen una al lado de otra en una misma línea: */
  /* Pese a haberlos convertido a inline-block sí que les afecta el text-align: center presente en el selector que lo contiene.*/
  display: inline-block;

  /* A la izquierda de cada opción de menú aparece una linea roja de 5px. */
  border-left: 5px solid #ff0000

}




#menu li a:hover{
  /* Al pasar el puntero del ratón encima de los enlaces del menú estos aparecerán subrayados en rojo.  */
  color: #cf1212;
}





#footer{

  border-top-color: black;
  border-top-width: 5px;
  border-style: solid;

  text-align: center;
  background-color: #883bd0;

  color: white;

}





#footer a{

  color: white;

}





#footer a:hover{
  /* Al pasar el puntero del ratón encima de los enlaces del menú estos aparecerán subrayados en rojo.  */
  color: #cf1212;
}




#image {
  
  /* Tiene una separación a la derecha de 60px: */
  margin-right: 60px;
  margin-top: 5px;
  display: block;
  text-align: right;
  
  
}



#image img {
  border-width: 5px;
  border-color: black;
  border-style: solid;
}






@media all and (max-width: 500px) {

      #image img {
          /* El borde de la imagen cambia a rojo. */
          border-width: 5px;
          border-color: #d10808;
          border-style: solid;

          /* El tamaño que ocupa la imagen debe ser el 90% del total. */
          width: 90%;
          height: auto;
      }


      #image {
        /* La imagen debe aparecer en el centro de la ventana.  */
        margin-right: auto;
        margin-top: 5px;
        display: block;
        text-align: center;
      }

}






/*

1) #image {  display: block;  text-align: right;
          - OJO -> esa combinación de esas dos propiedades es esencial para poder alinear la imagen a la derecha.
                            - La conviertes en tipo block para que SI sea afectada por el text-align: right.
                                            - Si la convirtieras en inline-block deja de ser afectada por el text-align.




*/















/*                      

 DESCARTADO:

        position: absolute;
        right: 0;
        margin-left: auto;

        line-height: 0;

        line-height: 0;
        height:40px;




*/









