

*{
  margin: 0px auto;
}

body {
  background: url('../images/fondo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
}

h1, h2 {
  text-align: center;
}

img {
  border: dashed 5px #FF9900;
  margin: 10px;
}

ul {
  color: white;
}

p {
  margin-bottom: 5px;
}

#header {
  margin-top: 35px;
  text-align: center;
  background-color: #FF9900;
  border-bottom: 5px solid #6599FF;
  border-top: 5px solid #6599FF;
  color: white;
  padding-top: 10px;
}

#content{
  
}

#menu {
  /* "Punto 1: Barra de menu siempre estara. Para ello necesitarás 3 instrucciones." */
  /* Se refiere a que la barra de menú siempre estará visible en la parte superior de la página, aunque hagas scroll.*/
  /* Al final del CSS he explicado porque solo con poner "position: fixed;" no es suficiente. */
  /*1: Primero hago que el menú quede fijo en pantalla y no desaparezca al hacer scroll:*/
  position: fixed;
  /*2: Luego especifico que debe quedar pegado al margen superior:*/
  top: 0;
  /*3: Luego especifico que debe quedar pegado al borde izquierdo de la pantalla:*/
  left: 0;

  text-align: center;  
  background-color: #097054;
  border: 1px solid #FF9900;
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
}

#menu a{
  color: white;
  text-decoration: none;
}


#menu li{
  display: inline;
  padding-left: 5px;  
}

#menu li a:hover{
  /* "Punto 1: Los enlaces cambian de color de fondo y están subrayados de color azul. Necesitarás 2 instrucciones."*/
  /*1: Primero cambio el color de fondo:*/
  background-color: #ff0000;
  /*2: Después cambio el color de los enlaces al color indicado (azul):*/
  color: #0000ff;
  /* Ha dicho que están subrayados (en España hay bastante confusión porque usamos resaltar y subrayar de forma indistinta) así que por 
  si acaso añado también esto (que además es una de las propiedades que hemos visto en el Tema 5.1): */
  text-decoration: underline;
}


  
#footer{
  /* "Punto 6: Barra de pie de página siempre estará. Necesitarás 3 instrucciones."*/
  /* Esto es muy parecido a lo que hicimos con el menú para que se quedará en una posición fija al hacer scroll.*/
  /*1: Primero lo fijo a la ventana para que no se mueva al hacer scroll:*/
  position: fixed;
  /*2: Después le indico que debe quedar pegado al límite inferior de la ventana:*/
  bottom: 0;
  /*3: Para que el color de fondo del <footer> cubra toda la línea inferior (y así quede bien estéticamente):*/
  width:100%;
  
  background-color: #097054;
  text-align: center;
  color: white;
  border-top: 5px solid black;
  clear: both;
}


#footer a{
  color: white;
  text-decoration: none;
}

#footer a:hover{
  color: #443266;
  background-color: white;
  text-decoration: none;
}
#image {
  text-align: right;
  margin-right: 60px;
}


#imageLeft {
  /* "Punto 2: La capa de las imágenes debe aparecer a la izquierda de la pantalla. Necesitarás 1 instrucción."*/
  /*1: */
  
  text-align: center;
  padding-bottom: 5px;
}

#imageRight {
  /*
  Punto 2: La capa de las imagenes debe aparecer a la derecha de la pantalla
  */

  /* necesitas 1 instruccion*/
  /*1: */
  text-align: center;
  padding-bottom: 5px;
}

#textMain {
  /*
  Punto 3: Para que la capa de la imagen y el float NO sigan la dinamica de la seccion anterior hay que romperla
  */

  /* necesitas 1 instruccion*/
  /*1: */
}

#imageToHide {
  /*
  Punto 3: La capa de las imagenes debe aparecer a la izquierda de la pantalla
  */

  /* necesitas 1 instruccion*/
  /*1: */  
  text-align: center;
  margin-bottom: 40px;
}

#textCookie {
  text-align: center;
}

#cookieEU {
  /*
  Punto 4: La capa esta posicionada casi al centro de la pantalla. Se diferencia del menu y del footer en que NO se queda fija al hacer scroll de la pagina.
  */

  /* necesitas 4 instrucciones. 3 son distancia a los bordes :)*/
  /*1: */  
  /*2: */    
  /*3: */    
  /*4: */    
  border:2px solid red;
  background-color: white;
  margin-bottom: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 50px black;
}

#textOverflow {
  /*
  Punto 5: La capa tiene una barra de scroll vertical para que podamos leer el texto que no cabe en el tamaño. Solo vertical, no horizontal
  */

  /* necesitas 2 instruccion*/
  /*1: */  
  /*2: */  
  
  height: 250px;
  text-align: justify;
  border: 5px solid black;
  background-color: white;
  padding: 20px;
  margin-right: 20px;
}

#textCentral {
  margin-top: 10px;
  padding: 15px;
  border: 5px dashed black;
  background-color: white;
  margin: 10px 250px ;
  border-radius: 30px 30px 30px 30px ;     /* resto */
}

.button {
  	background-color: #097054; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

@media all and (max-width: 500px) {
  #imageLeft {
    /*
    Punto 7.1: Barra de menu siempre estara 
    */
    /* necesitas 1 instruccion*/
    /*1: */
    text-align: center;
    padding-bottom: 5px;
  }

  #imageRight {
    /*
    Punto 7.1: Barra de menu siempre estara 
    */
    /* necesitas 1 instruccion*/
    /*1: */
    text-align: center;
    clear: both;
  padding-bottom: 5px;
  }
  
  #textCentral {
    margin: 0px 0px ;
  }
  
  #imageToHide {
    /*
    Punto 7.2: Barra de menu siempre estara 
    */
    /* necesitas 1 instruccion*/
    /*1: */

    text-align: center;
    margin-bottom: 40px;
  }
  
  #textOverflow {
    margin-right: 0px;
  }
  
  #header {
    margin-top: 50px;
  }
 
}

@media all and (max-width: 300px) {
  #header {
    /*
    Cambio el margen para que no lo tape el menu
    */
    margin-top: 100px;
  }
}




/* ################################################################################################################################ */




/*

ANOTACIONES sobre cómo he resuleto ciertas cosas:

1) POSICIÓN ORIGINAL vs. POSICIÓN ÓPTIMA

        - "La barra de menu siempre estará. Para ello necesitarás 3 instrucciones." 

        - Se refiere a que la barra de menú siempre estará visible en la parte superior de la página, aunque hagas scroll.
 
        - La estrategia es la siguiente: 

                    1.- Empleando "position: fixed;"

                                    - Logras que el menú no se mueva al hacer scroll. 

                    2.- Empleando "top: 0;"

                                    - Logras que el menú se sitúe arriba del todo. 

                    3.- Empleando "left: 0;"

                                    - El menú queda pegado al borde lateral. 


        - Si no pusieras top y left el menú quedaría fijado en su "POSICIÓN ORIGINAL". 
        
                    - Y este es el concepto clave para entender por qué es tan importante en este caso NO limitarse simplemente a poner 
                    "position: fixed", sino añadir también top y left.

                    - La POSICIÓN ORIGINAL del menú es relativamente IMPREDECIBLE porque depende del "flujo normal del documento". Y tratando 
                    de entender el concepto de "posición original" hemos topado con el concepto "flujo normal del documento". 

                    - ¿Qué quiere decir que la posición original del menú depende del FLUJO NORMAL DEL DOCUMENTO? Quiere decir que depende del
                    <header>, de los márgnes del <body>, etc (dicho así se entiende mejor). Es decir, depende del resto de elementos adyacentes
                    en el index.html. 

                    - CONCLUSIÓN: añadiendo el top y el left nos aseguramos de que el menú ocupa la posición óptima para la visualización de los 
                    contenidos de la página. Recuerda: "position: fixed;" NO MUEVE, solo fija en pantalla. 



2) ANCHURA DEL <footer>

        - Es importante asingarle una ANCHURA del 100% al <footer> para que quede bien estéticamente. 

        - "Punto 6: Barra de pie de página siempre estará. Necesitarás 3 instrucciones."

        - A primera vista parece que vaya a ser igual que con el menú: position: fixed;  +  top  +  left, pero no es el caso.

        - Es cierto que hay que usar "position: fixed;".

        - También es cierto que hay que usar "bottom: 0;".

        - Pero en este caso no hay que usar left, sino width.

                    - ¿Por qué? Pues porque "width: 100%;" nos garantiza que el <footer> será una BARRA COMPLETA de forde a borde y no solo 
                    un rectángulo pequeño pegado abajo. 

                    - Es decir, si no pusieras "width: 100%;", su longitud dependería de lo extenso que fuera su contenido. Y si su contenido es
                    muy breve quedaría solo como un rectángulo pequeño (quedaría mal estéticamente). 

*/









/* ############################################################################################################################## */






/* 

REPASO TEMA 5.1:

Esta tarea la mandó justo después de dar el Tema 5.1, de lo cual se deduce que las herramientas a emplear son las dadas en dicho tema (y en temas
anteriores). Por ello incluyo aquí un REPASO (listado) con las herramientas vistas en el TEMA 5.1:

1) Propiedad___position -> VALORES:

        1.- position: static;
                - Es el valor inicial por defecto.

        2.- position: relative;

        3.- position: absolute;

        4.- position: fixed;

        5.- position: inherit;

        6.- Ojo -> hay otro valor posible que todavía no hemos dado en clase (y que por lo tanto todavía no debemos usar) -> position: sticky;


2) Propiedades___top, right, bottom y left

        1.- IMPORTANTE: si el selector tiene el valor static en su propiedad position, entonces los valores de las propiedades top, right, bottom 
        y left serán ignorados por completo. 

        2.- IMPORTANTE: si el selector no le está dando ningún valor a la propiedad position, entonces está tendrá su valor por defecto, que es 
        static y por lo tanto los valores de las propiedades top, right, bottom y left serán ignorados por completo. 

        3.- Valores posibles:
                  a) unidad de medida. -> top: 1em;
                  b) porcentaje. -> right: 20%;
                  c) auto.  -> ej: bottom: auto;
                  d) inherit. -> ej: left: inherit;


3) Propiedad___float

        1.- Es el posicionamiento más utilizado (y al mismo tiempo es el más difícil de comprender al principio). La mayoría de las páginas web 
        complejas emplean el posicionamiento float.

        2.- La propiedad float posiciona una caja moviéndola todo lo posible a la izquierda o derecha de su posición original.

        3.- VALORES posibles:

                    3.1.- float: left;

                    3.2.- float: right;

                    3.3.- float: none;


4) Propiedad___outline


5) Propiedad___clear

        1.- Indica el lado del elemento que no debe ser adyacente a ninguna caja flotante. La propiedad clear es imprescindible cuando se crean las estructuras de las 
        páginas web complejas.

        2.- VALORES posibles:

                    2.1.- clear: none;

                    2.2.- clear: left;

                    2.3.- clar: right;

                    2.4.- clear both;

                    2.5.- clear: inherit;


6) propiedad___display

        1.- Permite controlar la forma de visualizar un elemento e incluso ocultarlo.

        2.- VALORES posibles: inline | block | none | list-item | run-in | inline-block | table | inline-table | table-row-group | table-header-group | 
        table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | inherit

        3.- Valor inicial -> display: inline;


7) propiedad___visibility

        1.- Permite hacer visibles e invisibles a los elementos.

        2.- VALORES posibles: 

                    2.1.- visibility: visible;

                    2.2.- visibility: hidden;

                    2.3.- visibility: collapse;

                    2.4.- visibility: inherit;
        
        3.- Valor inicial -> visibility: visible;



8) Propiedad___overflow

        1.- Permite controlar los contenidos sobrantes de un elemento.

        2.- VALORES posibles:

                    2.1.- overflow: visible;

                    2.2.- overflow: hidden;

                    2.3.- overflow: scroll;

                    2.4.- overflow: auto;

                    2.5.- overflow: inherit;
        
        3.- Valor inicial: overflow: visible;



9) Propiedad___z-index

        1.- Establece el nivel tridimensional en el que se muestra el elemento (tiene lógica ya que el eje Z suele referirse a la profundidad). Esto determina qué 
        elemento estará por encima si solapan.

        2.- VALORES posibles:

                    2.1.- z-index: auto;

                    2.2.- z-index: numero;

                    2.3.- z-index: inherit;


10) Propiedad___color    (para el texto).


11) Propiedad___font-family     (para el texto). 


12) Propiedad___font-size     (para el texto).


13) Propiedad___font-weight     (para el texto).


14) Propiedad___font-style     (para el texto).


15) Propiedad___font-variant    (para el texto).


16) Propiedad___font      (para el texto).

        1.- Es una propiedad shorthand (= que abrevia el código y agrupa varias propiedades [que ya hemos visto anteriormente] en una sola).


17) Propiedad___text-align       (para texto).


18) Propiedad___line-height       (para texto).


19) Propiedad___text-decoration       (para texto).

        1.- VALORES posibles:

                  1.1.- none

                  1.2.- underline

                  1.3.- overline

                  1.4.- line-through

                  1.5.- blink

                  1.6.- inherit


20) Propiedad___text-transform         (para texto). 


99) Los conocimientos necesarios para realizar esta práctica son los de el pdf 5.1 (y también los del pdf 4.1). Además, en la clase del 2026_01_08 
se dió la explicación del pdf 5.1 y tomé apuntes (útiles para tener una breve visión general del pdf 5.1).


*/

