
/* Entrega: Float.*/

*{
  margin: 0px auto;
}

body {
  background: url('../images/fondo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
}

h1, h2 {
  text-align: center;
}

img {
  border: dashed 5px #FF9900;
  margin: 10px;
}

ul {
  color: white;
}

p {
  margin-bottom: 5px;
}

#header {
  margin-top: 35px;
  text-align: center;
  background-color: #FF9900;
  border-bottom: 5px solid #6599FF;
  border-top: 5px solid #6599FF;
  color: white;
  padding-top: 10px;
}


#content{
  
}



#menu {
  /* "Punto 1: Barra de menu siempre estara. Para ello necesitarás 3 instrucciones." */
  /* Se refiere a que la barra de menú siempre estará visible en la parte superior de la página, aunque hagas scroll.*/
  /* Al final del CSS he explicado porque solo con poner "position: fixed;" no es suficiente. */
  /*1: Primero hago que el menú quede fijo en pantalla y no desaparezca al hacer scroll:*/
  position: fixed;
  /*2: Luego especifico que debe quedar pegado al margen superior:*/
  top: 0;
  /*3: Luego especifico que debe quedar pegado al borde izquierdo de la pantalla:*/
  left: 0;

  text-align: center;  
  background-color: #097054;
  border: 1px solid #FF9900;
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
}

#menu a{
  color: white;
  text-decoration: none;
}


#menu li{
  display: inline;
  padding-left: 5px;  
}

#menu li a:hover{
  /* "Punto 1: Los enlaces cambian de color de fondo y están subrayados de color azul. Necesitarás 2 instrucciones."*/
  /*1: Primero cambio el color de fondo:*/
  background-color: #ffa500;
  /*2: Después cambio el color de los enlaces al color indicado (azul):*/
  color: #0000ff;
  /* Ha dicho que están subrayados (en España hay bastante confusión porque usamos resaltar y subrayar de forma indistinta) así que por 
  si acaso añado también esto (que además es una de las propiedades que hemos visto en el Tema 5.1): */
  text-decoration: underline;
}


  
#footer{
  /* "Punto 6: Barra de pie de página siempre estará. Necesitarás 3 instrucciones."*/
  /* Esto es muy parecido a lo que hicimos con el menú para que se quedará en una posición fija al hacer scroll.*/
  /*1: Primero lo fijo a la ventana para que no se mueva al hacer scroll:*/
  position: fixed;
  /*2: Después le indico que debe quedar pegado al límite inferior de la ventana:*/
  bottom: 0;
  /*3: Para que el color de fondo del <footer> cubra toda la línea inferior (y así quede bien estéticamente):*/
  width:100%;
  
  background-color: #097054;
  text-align: center;
  color: white;
  border-top: 5px solid black;
  clear: both;
}


#footer a{
  color: white;
  text-decoration: none;
}

#footer a:hover{
  /* Dado que en el enunciado nº6 del pdf de la tarea dice "Igual que el 1" refiriéndose a que hagas en el <footer> lo mismo que en el #menu, voy 
  a tomarmelo literal y voy a poner los mismos colores que se especificaron para el #menu. Además, le añado el underline tal y como pidió 
  para el #menu: */
  color: #0000ff; 
  background-color: #ffa500; 
  text-decoration: underline; 
}


#image {
  text-align: right;
  margin-right: 60px;
}


#imageLeft {
  /* "Punto 2: La capa de las imágenes debe aparecer a la izquierda de la pantalla. Necesitarás 1 instrucción."*/
  /*1: Empleo float para que el contenido posterior pueda fluir a su alrededor:*/
  float: left; 
  
  text-align: center;
  padding-bottom: 5px;
}


#imageRight {
  /* "Punto 2: La capa de las imagenes debe aparecer a la derecha de la pantalla. Necesitarás 1 instrucción:" */
  /*1: Empleo float para que el contenido posterior pueda fluir a su alrededor: */
  float: right;

  text-align: center;
  padding-bottom: 5px;
}


#textMain {
  /* "Punto 3: Para que la capa de la imagen y el float NO sigan la dinámica de la sección anterior hay que romperla. Necesitarás 1 instrucción." */
  /* Aquí se refiere al hecho de que como los elementos anteriores tienen la propiedad float, los elementos posteriores fluirán ocupando los 
  espacios junto a ellos. Para evitar que se produzca ese flujo (solicitado por el propio enunciado) podemos usar la propiedad clear:*/
  /* En este caso, como queremos romper con todos los floats anteriores, le damos el valor "both": */
  clear: both;
}



#imageToHide {
  /* "Punto 3: La capa de las imagenes debe aparecer a la izquierda de la pantalla. Necesitarás 1 instrucción. */
  /*1: Empleo float para que el contenido posterior pueda fluir a su alrededor: */
  float: left;

  text-align: center;
  margin-bottom: 40px;
}


#textCookie {
  text-align: center;
}



#cookieEU {
  /* "Punto 4: La capa está posicionada casi al centro de la pantalla. Se diferencia del menu y del footer en que NO se queda fija al hacer 
  scroll de la página. Necesitarás 4 instrucciones. 3 de ellas son distancia a los bordes :)" */
  /* Nos encontramos dentro del selector que hace referencia a la ventana emergente de aceptar las cookies de la web y ese es justo el ejemplo
  que se usó en clase para explicar la utilidad de: "position: absolute;" */
  /*1: Empleo "position: absolute;" para sacar al elemento del flujo normal de la web (posición fija):*/  
  position: absolute;
  /*2: Empleo top para posicionarlo con respecto a <body> (ya que no tiene padres con position distinta de static con respecto a los cuales 
  posicionarse: */  
  top: 20%;  
  /*3: Empleo left:*/    
  left: 30%;
  /*4: Empleo right (así termino de especificar bien el espacio ocupado por la caja y no corro el riesgo de que quede descentrada u ocupe más 
  espacio del desado):*/
  right: 30%;  

  border:2px solid red;
  background-color: white;
  margin-bottom: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 50px black;
}



#textOverflow {
  /* "Punto 5: La capa tiene una barra de scroll vertical para que podamos leer el texto que no cabe en el tamaño. Solo vertical, no horizontal
  necesitarás 2 instrucciones." */
  /*1: En el eje vertical le pongo un scroll:*/
  overflow-y:auto;  
  /*2: En el eje horizontal, dado que no quiere que haya scroll, solo tengo una opción: "hidden" (pq si lo dejo sin configurar, los conteidos
  podrían salirse por la derecha y quedaría feo):*/
  overflow-x: hidden;
  
  height: 250px;
  text-align: justify;
  border: 5px solid black;
  background-color: white;
  padding: 20px;
  margin-right: 20px;
}


#textCentral {
  /*margin-top: 10px; -> esto es redundante con el margin de más abajo, por eso lo comento. */
  padding: 15px;
  border: 5px dashed black;
  background-color: white;
  margin: 10px 250px ;
  border-radius: 30px 30px 30px 30px ;     /* resto */
}

.button {
  	background-color: #097054; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}



@media all and (max-width: 500px) {
  #imageLeft {
    /* "Punto 7.1: Barra de menu siempre estará. Necesitarás 1 instrucción." */
    /*1: Para que la barra de menú no desaparezca al hacer scroll usamos "position: fixed;" */
    position: fixed;

    text-align: center;
    padding-bottom: 5px;
  }



  #imageRight {
    /* "Punto 7.1: Barra de menu siempre estará. Necesitarás 1 instrucción: */
    /*1: Para que la barra de menú no desaparezca al hacer scroll usamos "position: fixed;" */
    position: fixed;

    text-align: center;
    clear: both;
    padding-bottom: 5px;
  }
  

  #textCentral {
    margin: 0px 0px ;
  }
  

  #imageToHide {
    /* "Punto 7.2: Barra de menu siempre estará. Necesitarás 1 instrucción." */
    /*1: Para que la barra de menú no desaparezca al hacer scroll usamos "position: fixed;" */
    position: fixed;

    text-align: center;
    margin-bottom: 40px;
  }
  

  #textOverflow {
    margin-right: 0px;
  }
  

  #header {
    margin-top: 50px;
  }
 
}


@media all and (max-width: 300px) {
  #header {
    /* Cambio el margen para que no lo tape el menu. */
    margin-top: 100px;
  }
}





/* ############################################################################################################################### */

/*

He repasado los 7 enunciados del pdf y he comprobado que mi css cumple con todo lo que se pide.

*/


/* ################################################################################################################################ */


/*

ANOTACIONES sobre CÓMO he RESUELTO ciertas cosas:

1) POSICIÓN ORIGINAL vs. POSICIÓN ÓPTIMA

        - "La barra de menu siempre estará. Para ello necesitarás 3 instrucciones." 

        - Se refiere a que la barra de menú siempre estará visible en la parte superior de la página, aunque hagas scroll.
 
        - La estrategia es la siguiente: 

                    1.- Empleando "position: fixed;"

                                    - Logras que el menú no se mueva al hacer scroll. 

                    2.- Empleando "top: 0;"

                                    - Logras que el menú se sitúe arriba del todo. 

                    3.- Empleando "left: 0;"

                                    - El menú queda pegado al borde lateral. 


        - Si no pusieras top y left el menú quedaría fijado en su "POSICIÓN ORIGINAL". 
        
                    - Y este es el concepto clave para entender por qué es tan importante en este caso NO limitarse simplemente a poner 
                    "position: fixed", sino añadir también top y left.

                    - La POSICIÓN ORIGINAL del menú es relativamente IMPREDECIBLE porque depende del "flujo normal del documento". Y tratando 
                    de entender el concepto de "posición original" hemos topado con el concepto "flujo normal del documento". 

                    - ¿Qué quiere decir que la posición original del menú depende del FLUJO NORMAL DEL DOCUMENTO? Quiere decir que depende del
                    <header>, de los márgnes del <body>, etc (dicho así se entiende mejor). Es decir, depende del resto de elementos adyacentes
                    en el index.html. 

                    - CONCLUSIÓN: añadiendo el top y el left nos aseguramos de que el menú ocupa la posición óptima para la visualización de los 
                    contenidos de la página. Recuerda: "position: fixed;" NO MUEVE, solo fija en pantalla. 




2) ANCHURA del <footer>

        - Es importante asingarle una ANCHURA del 100% al <footer> para que quede bien estéticamente. 

        - "Punto 6: Barra de pie de página siempre estará. Necesitarás 3 instrucciones."

        - A primera vista parece que vaya a ser igual que con el menú: position: fixed;  +  top  +  left, pero no es el caso.

        - Es cierto que hay que usar "position: fixed;".

        - También es cierto que hay que usar "bottom: 0;".

        - Pero en este caso no hay que usar left, sino width.

                    - ¿Por qué? Pues porque "width: 100%;" nos garantiza que el <footer> será una BARRA COMPLETA de forde a borde y no solo 
                    un rectángulo pequeño pegado abajo. 

                    - Es decir, si no pusieras "width: 100%;", su longitud dependería de lo extenso que fuera su contenido. Y si su contenido es
                    muy breve quedaría solo como un rectángulo pequeño (quedaría mal estéticamente). 




3) float  vs.  position

        - "La capa de las imágenes debe aparecer a la izquierda de la pantalla. Necesitarás 1 instrucción."

        - "float: left;" hace que:
        
                    1.- La caja se pegue a la izquierda.

                    2.- El contenido posterior FLUYA A SU ALREDEDOR (a no ser que se evite que eso suceda empleando en esos elementos 
                    posteriores la propiedad "clear").

        - "position: absolute/relative/fixed;" junto con "left: 0;" hace que:

                    1.- La caja se coloque en una posición exacta.

                    2.- El elemento QUEDA FUERA DEL FLUJO normal del documento.

                                    - En consecuencia, otros elementos pueden quedar "debajo" o "encima" de él.
        



4) clear: both;

        - "Punto 3: Para que la capa de la imagen y el float NO sigan la dinámica de la sección anterior hay que romperla. Necesitarás 1 
        instrucción."

        - Aquí se refiere al hecho de que como los elementos anteriores tienen la propiedad float, los elementos posteriores fluirán ocupando los 
        espacios junto a ellos. Para evitar que se produzca ese flujo (solicitado por el propio enunciado) podemos usar la propiedad clear.

        - En este caso, como queremos romper con todos los floats anteriores, le damos el valor "both" -> "clear: both;".

                      - "both" significa "AMBOS" y se refiere a romper tanto los "float: right" como los "float: left".





5) "position: absolute"   vs.   "position: relative".

        - "Punto 4: La capa está posicionada casi al centro de la pantalla. Se diferencia del menu y del footer en que NO se queda fija al hacer 
        scroll de la página. Necesitarás 4 instrucciones. 3 de ellas son distancia a los bordes :)"

        - Leyendo ese enunciado ya sabemos que NO se ha de usar "position: fixed;" ya que indica claramente que este elemento no debe quedarse
        fijo al hacer scroll.


        5.1.- "position: relative"

                    - Permite mover el elemento con respecto a su POSICIÓN ORIGINAL en el documento.
                    
                                  - Es decir, con respecto a la posición que le ha tocado al "leer" todos los elementos del HTML. Por ejemplo, 
                                  si va precedido de un <header>, este influye en cuál será su "posición original" en el documento).

                    - IMPORTANTE: el espacio que ocupaba anteriormente el elemento (es decir, su "POSICIÓN ORIGINAL") SIGUE RESERVADO y no puede 
                    ser ocupado. Es decir, dicho espacio permanecerá VACÍO (EL RESTO de elementos NO PUEDEN OCUPARLO al desplazarse como 
                    consecuencia de un float). 

                    - ÚTIL para hacer ajustes pequeños SIN QUE CAMBIE EL FLUJO de los elementos. 


        5.2.- "position: absolute"

                    - IMPORTANTE: SACA al elemento DEL FLUJO NORMAL DEL DOCUMENTO.

                    - Su posición se determina con respecto a:

                              a) El elemento más cercano que tenga "position" con un valor distinto de "static". 

                              b) Si ningún elemento cumple esa condición, su posición se determina con respecto al <body>. 

                    - ÚTIL para colocar elementos en posiciones exactas (empleando top, left, right y bottom).

                                  - Ejemplo: Colocar el cuadro flotante de aceptar las cookies de una página web. 


        - Este enunciado se encuentra dentro del selector llamado "#CookieEU", lo cuál deja bastante claro que lo óptimo aquí es usar 
        "position: absolute".

        - "#CookieEU" está directamente dentro de <body> (es algo que podemos verificar rápidamente mirando el index.html). No tiene ningún padre
        distinto de <body> que tenga "position" con un valor distinto de "static". Por ello "#CookieEU" se posicionará con respecto a TODA LA 
        PÁGINA (<body>). 






6) Especificar el espaciado IZQUIERDO y también el DERECHO al colocar una ventana emergente empleando "position: absolute".

        - "Punto 4: La capa está posicionada casi al centro de la pantalla. Se diferencia del menu y del footer en que NO se queda fija al hacer 
        scroll de la página. Necesitarás 4 instrucciones. 3 de ellas son distancia a los bordes :)"

        - A primera vista parece que con "position: absolute;" y luego "top: 20%;" y "left: 30%" ya sería suficiente.

                    - Pero si solo pones top y left el <div> se desplazará hacia abajo y hacia la derecha desde su posición de referencia, pero:

                                - No hay control sobre el lado derecho.

                                          - Y en consecuencia, el navegador mantendrá el ANCHO ORIGINAL del <div>. 

                                          - Eso implica que la caja:

                                                      1.- Puede quedar DESCENTRADA horizontalmente.

                                                      2.- Ocupar MÁS ESPACIO del deseado o MENOS ESPACIO del deseado (dependiendo de su contenido). 

                                        



7) overflow

        - "Punto 5: La capa tiene una barra de scroll vertical para que podamos leer el texto que no cabe en el tamaño. Solo vertical, no horizontal
        necesitarás 2 instrucciones.".

        - Aquí la CLAVE está en que a ti en cuanto te hablen de "barra de scroll" automáticamente tienes que saber que para resolver lo que te 
        piden tendrás que usar almenos 1 de las propiedades de la familia overflow. 

                        - No hay ninguna otra propiedad en CSS que se encargue de crear, ocultar o controlar barras de desplazamiento (barras de
                        scroll). 

        - Si quieres que una caja concreta tenga su propio scroll y el resto de la página no se mueva necesitas sí o sí usar la propiedad overflow.

                        - La propia palabra es bastante intuitiva: overflow -> lo que "se sale" -> responde al problema de: ¿qué hago con el 
                        contenido que "se sale" de esa caja?

        - En el código del id llamado textOverFlow vemos que se le ha asignado una altura a la caja. 

                        - Además, y aquí está la CLAVE, si lo dejamos como está y no configuramos la propiedad overflow en este selector, la 
                        propiedad overflow conservará su valor por defecto: "visible" y por lo tanto el texto que no quepa SE SALDRÁ literalmente 
                        de la caja (y muy probablemente quedará fatal estéticamente). 

        - Pero solo nos piden que pongamos una barra de scroll vertical, ¿qué pasa si solo configuramos el "overflow-y" y no configuramos el
        "overflow-x"?

                        - Aclaración previa: pese a haber configurado "overflow-y: auto" el contenido TODAVÍA PODRÍA SALIRSE de la caja 
                        horizontalmente. 

                                        - Y esto se debe a este factor CLAVE: los saltos de línea SOLO ocurren si el contenido son palabras 
                                        normales, pero si hay algo que no cabe (una palabra larguísima o una imagen o un espacio muy grande,
                                        o padding extra) -> en ese caso SE SALDRÁ POR LA DERECHA.
                                        
                        - Dado que nos ha indicado expresamente en el enunciado que no quiere scroll horizontal, pondremos "overflow-x: hidden" -> 
                        esto lo que hace es cortar visualmente los elementos que sobresalgan de la caja por los lados. 

                                        - Entonces, con "overflow: hidden" no estamos resolviendo el problema de que el contenido pueda sobresalir
                                        por los lados, solo estamos ocultando las partes que sobresalgan para que quede más aceptable estéticamente.

                                        - Desde luego, a primera vista, parece que en todos los casos siempre sea mejor poner "overflo-x: auto"
                                        que "overflow-x: hidden" (pero es lo que nos pide expresamente el enunciado). 


8) "@media all and (max-width: 500px) {"

        - Aprovechemos para repasar esa sintaxis: "@media all" indica que se aplica a todos los tipos de dispositivos (pantalla, vista de 
        impresora, etc). 

        - "(max-width: 500px)" indica que el contenido de este selector solo se aplicará cuando la ventana tenga 500px o menos. 



99) En los enunciados presentes en el propio CSS pasa del "punto 5" al "punto 7" (dejo esta nota para que me quede claro que no es que yo haya 
borrado por error parte del código, sino que se produce ese salto en la numeración). 

*/











/* ############################################################################################################################## */






/* 

REPASO TEMA 5.1:

Esta tarea la mandó justo después de dar el Tema 5.1, de lo cual se deduce que las herramientas a emplear son las dadas en dicho tema (y en temas
anteriores). Por ello incluyo aquí un REPASO (listado) con las herramientas vistas en el TEMA 5.1:

1) Propiedad___position -> VALORES:

        1.- position: static;
                - Es el valor inicial por defecto.

        2.- position: relative;

        3.- position: absolute;

        4.- position: fixed;

        5.- position: inherit;

        6.- Ojo -> hay otro valor posible que todavía no hemos dado en clase (y que por lo tanto todavía no debemos usar) -> position: sticky;


2) Propiedades___top, right, bottom y left

        1.- IMPORTANTE: si el selector tiene el valor static en su propiedad position, entonces los valores de las propiedades top, right, bottom 
        y left serán ignorados por completo. 

        2.- IMPORTANTE: si el selector no le está dando ningún valor a la propiedad position, entonces está tendrá su valor por defecto, que es 
        static y por lo tanto los valores de las propiedades top, right, bottom y left serán ignorados por completo. 

        3.- Valores posibles:
                  a) unidad de medida. -> top: 1em;
                  b) porcentaje. -> right: 20%;
                  c) auto.  -> ej: bottom: auto;
                  d) inherit. -> ej: left: inherit;


3) Propiedad___float

        1.- Es el posicionamiento más utilizado (y al mismo tiempo es el más difícil de comprender al principio). La mayoría de las páginas web 
        complejas emplean el posicionamiento float.

        2.- La propiedad float posiciona una caja moviéndola todo lo posible a la izquierda o derecha de su posición original.

        3.- VALORES posibles:

                    3.1.- float: left;

                    3.2.- float: right;

                    3.3.- float: none;


4) Propiedad___outline


5) Propiedad___clear

        1.- Indica el lado del elemento que no debe ser adyacente a ninguna caja flotante. La propiedad clear es imprescindible cuando se crean las 
        estructuras de las páginas web complejas.

        2.- VALORES posibles:

                    2.1.- clear: none;

                    2.2.- clear: left;

                    2.3.- clar: right;

                    2.4.- clear both;

                    2.5.- clear: inherit;


6) propiedad___display

        1.- Permite controlar la forma de visualizar un elemento e incluso ocultarlo.

        2.- VALORES posibles: inline | block | none | list-item | run-in | inline-block | table | inline-table | table-row-group | 
        table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | inherit

        3.- Valor inicial -> display: inline;


7) propiedad___visibility

        1.- Permite hacer visibles e invisibles a los elementos.

        2.- VALORES posibles: 

                    2.1.- visibility: visible;

                    2.2.- visibility: hidden;

                    2.3.- visibility: collapse;

                    2.4.- visibility: inherit;
        
        3.- Valor inicial -> visibility: visible;



8) Propiedad___overflow

        1.- Permite controlar los contenidos sobrantes de un elemento.

        2.- VALORES posibles:

                    2.1.- overflow: visible;

                    2.2.- overflow: hidden;

                    2.3.- overflow: scroll;

                    2.4.- overflow: auto;

                    2.5.- overflow: inherit;
        
        3.- Valor inicial: overflow: visible;



9) Propiedad___z-index

        1.- Establece el nivel tridimensional en el que se muestra el elemento (tiene lógica ya que el eje Z suele referirse a la profundidad). 
        Esto determina qué elemento estará por encima si solapan.

        2.- VALORES posibles:

                    2.1.- z-index: auto;

                    2.2.- z-index: numero;

                    2.3.- z-index: inherit;


10) Propiedad___color    (para el texto).


11) Propiedad___font-family     (para el texto). 


12) Propiedad___font-size     (para el texto).


13) Propiedad___font-weight     (para el texto).


14) Propiedad___font-style     (para el texto).


15) Propiedad___font-variant    (para el texto).


16) Propiedad___font      (para el texto).

        1.- Es una propiedad shorthand (= que abrevia el código y agrupa varias propiedades [que ya hemos visto anteriormente] en una sola).


17) Propiedad___text-align       (para texto).


18) Propiedad___line-height       (para texto).


19) Propiedad___text-decoration       (para texto).

        1.- VALORES posibles:

                  1.1.- none

                  1.2.- underline

                  1.3.- overline

                  1.4.- line-through

                  1.5.- blink

                  1.6.- inherit


20) Propiedad___text-transform         (para texto). 


99) Los conocimientos necesarios para realizar esta práctica son los de el pdf 5.1 (y también los del pdf 4.1). Además, en la clase del 2026_01_08 
se dió la explicación del pdf 5.1 y tomé apuntes (útiles para tener una breve visión general del pdf 5.1).


*/

