
/*
Como extra del ENUNCIADO se añaden estos datos:
    CSS para el examen

    colores:

    fondo: #333333;
    fondo: cajas: #424242;
    linea: lightgray;
    boton: #007BFF;
    boton seleccionado: #0056b3;
*/


body {
    /* 1- color de fondo */
    background-color: #333333;
    /* 2- ancho 90% */
    width:90%;
    /* 3- centrar */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.container {
    text-align: center;
}



#youtuber, footer, header {
    /* 4- color de fondo */
    background-color: #424242;

    border: 1px solid lightgray;

    /* 5- redondear el borde */
    border-radius: 30px;

    /* 6- sombra */
    box-shadow: 5px 5px 5px 5px black;

    margin: 10px auto;
    padding: 20px;
    text-align: center;    
}



footer {
    padding: 0px;
    color: white;
}



.imageHome{
    border:black 4px solid;
    /* Para que la imagen salga redondeada: */
    /* En este caso creo que la intención es que se redondeen los bordes, pero que no llegue a ser un círculo, sino un cuadrado con esquinas 
    redondeadas.Recuerda: esta es la imagen de la web inicial.*/
    border-radius: 3%;

    /* 7- tamanyo */
    /*Dado que en el enunciado no especifica un valor concreto, voy a hacer que tenga la misma altura que su contenedor y que la anchura se fije
    de forma automática manteniendo la proporción de la imagen. Recuerda: esta es la imagen de la web inicial.*/
    height: 100%;
    width:auto;

    /* Se utiliza en imágenes y videos 
    para asegurarse de que siempre llenen 
    completamente el contenedor, manteniendo
    su relación de aspecto*/
    object-fit: cover; 
}



#youtuber .images {

    /* 8- redondear la imagen*/
    /* En este caso creo que quiere que la foto de cada youtuber se vea como un círculo, para ello el valor que hay que darle 
    es "100%":  */
    border-radius: 100%;

    width: 150px;
    height: 150px;    

    /* Se utiliza en imágenes y videos 
    para asegurarse de que siempre llenen 
    completamente el contenedor, manteniendo 
    su relación de aspecto*/
    object-fit: cover; 
}



#youtuber h2 {    
    color: white;
    font-size: 1.5em;
    margin: 10px 0;
}



#youtuber p {
    color: white;
    font-size: 1em;
}



#menu {
    /* 9- quita los puntos */
    /* Para lograrlo no me vale el truco del ejercicio anterior de hacer "display: inline-block;". Porque ahora me pide que quite los puntos
    empleando "#menu {" y no "#menu li{". Por ello es necesario aprenderse esta propiedad: */
    list-style: none;
}




li {
    /* 10- haz que los li no sean de tipo bloque */
    /* El nombre del valor "inline-block" puede llevar a confusión. Aclarar: NO es un elemento tipo bloque, sino un elemento de línea con
    comportamiento de bloque. Que sea un elemento de línea y no de bloque es lo que permite que se puedan colocar unos al lado de otros 
    en una misma línea. Que su comportamiento sea de bloque implica que acepta width, height, padding y margin. */
    display: inline-block;


    /* 11- borde izquierdo rojo */
    border-left: 4px red solid;
    /* 12- separa el borde de la izquierda */
    padding-left: 5px;
}




#menu a {
    /* 13- enlaces blancos */
    color: #ffffff;
    /* 14- sin subrayado */
    /* Para lograr esto hay que aprender una nueva propiedad. Esta nueva propiedad no elimina el color del enlace. */
    text-decoration: none;

}



#menu a:hover {
    /* 15- cambia el color al subrayado*/
    /* "al pasar la mano por encima de los enlaces se ponen en rojo." */
    color: #ff0000;
    /* En caso de que quisiera cambiar el color ÚNICAMENTE a la línea de subrayado se haría así: 
    text-decoration: underline;
    text-decoration-color: red;    
    */

}




.button {
    padding: 10px 20px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    /* animacion en css, para cambiar el color del boton, no visto en clase 
    pero yo te lo regalo ;) */
    transition: background-color 0.3s ease;
}




.button:hover {
    /* 16- cambia el color al boton*/
    /* Se refiere al color de fondo de la caja del botón, y por ello es sencillo de hacer: */
    /* Lo pongo en amarillo en lugar de rojo porque cuando la pantalla se haga pequeña ya se pondrá rojo.*/
    background-color: #ffff00;
}




@media all and (max-width: 700px) {
    #youtuber, footer {
        /* 17- cambia el color al BORDE*/
        /* "las líneas blancas se pondrán en rojo" */
        border-color: #ff0000;
    }

    .button {
        /* 18- cambia el color al boton*/
        /* Se refiere al color de fondo de la caja del botón, y por ello es sencillo de hacer: */
        background-color: #ff0000; 
    }

    .button:hover {
        /* 19- cambia el color al boton*/
        /* Se refiere al color de fondo de la caja del botón, y por ello es sencillo de hacer: */
        background-color: #ffff00;
    }    
}



/* Cambios PENDIENTES de realizar 

1) "Al pasar la mano por encima de los enlaces se ponen en rojo."_____________________HECHO

        - Se refiere al selector "#menu a:hover {".

2) "La pantalla ocupa el 90% del tamaño del navegador y debe estar centrada."__________________HECHO

        - Hecho en el selector de body.

3) Al pasar la mano encima de “ver canal de youtube” cambia a otro color pon el que quieras._______________HECHO


4) Cuando el tamaño de la pantalla es menor de 700px:

        4.1.- Las líneas blancas se pondrán en rojo.___________________HECHO
        
        4.2.- El botón cambia a rojo.________________________HECHO

                    - Se refiere al selector ".button".





*/



/*
Notas: 

1) el borde la imagen en la web inicial sigue siendo gris pese a que en su selector, ".imageHome{", he especificado el color negro del borde.


*/





/*

NOTA: aclaraciones sobre algunas propiedades:

1.- box-shadow
        - Ejemplo:
                box-shadow: 5px 5px 5px 5px black;
        - El 1r valor = desplazamiento horizontal de la sombra.
        - El 2o valor = desplazamiento veritcal de la sombra. 
        - El 3r valor = difuminado (blur). 
        - El 4o valor = spread = cuánto se expande la sombra hacia fuera. 
        - Si solo pones 3 valores entonces se considera que el 4o valor es cero. 




*/