

/* Tarea Float nº2 */

* {
  margin: 0px auto;
}



html, body { /* Esto lo hago al tratar de lograr que el fondo gris de #fondoContent llegue al final de la página. Es un paso previo. */
  height: 100%;
  margin: 0;
  padding: 0;
}





body{
    background: url('../images/fondo.jpg');
    background-repeat: no-repeat; /* Que cuando el fondo no alcance a cubrir toda la superficie, la imagen no se repita (es algo que hace automáticamente si no le dices lo contrario. */
    /*background-position: center center;  -> el primer valor es el eje horizontal y el segundo valor es el eje vertical. */
    background-position: center -9.8%; /* Para que la imagen no quede tan escondida debajo de la barra del navegador (y así se parezca más a como queda en la foto de la web del pdf del enunciado. He puesto ese valor de -9.8% porque si le pongo un valor menor ya se sale de debajo del encabezado y se queda una línea de la página sin fondo. */
    background-size: cover; /* para que la imagen cubra el total de su contenedor. Se mantiene la proporción (se recorta para que encaje si es necesario). */
    font-family: 'Indie Flower', sans-seri;

    /* "el fondo de la página que NO se desplaza al usar el scroll" -> ojo "position: fixed;" no vale para fondos. En su lugar usamos:*/
    background-attachment: fixed;
    
}




#menu{
    position: fixed; /* Para que el menú no desaparezca al scrollear:*/
    top:0;
    left:0;
    background-color: #07a31b;
    border-bottom-style: dashed;
    border-color: white;

    /* Para que quede centrado: */
    width: 100%;  /* Esto es esencial para que al centrarse quede en el centro de la pantalla (si no ocupa todo el espacio no puede quedar centrado.*/
    text-align:center;

}




#menu li{
    display: inline;

}



#menu a{
    display: inline;
    color:white; /* Las letras son de color blanco en la imagen de referncia.*/
    text-decoration: none; /* Para que las opciones del menu no aparezcan subrayadas (hasta que no se active el hover). */
}



#titulo {
    font-family: 'Indie Flower', sans-serif; /* Lo de "sans-serif" es para hacer referencia de forma genérica a la familia de fuentes sans-serif (a la que pertenece Arial). Es un respaldo por si Indie Flower no está disponible en un momento determinado. Es una buena práctica. */
    color: white;
    padding: 10px;
    margin-left:30px;
    margin-top: 40px;


}

#titulo h1 {
    font-size: 70px;
    text-shadow:  /* Con esto consigo que el texto blanco tenga contorno negro y que destaque respecto al fondo*/
        -4px -4px 0 #000,
        4px -4px 0 #000,
        -4px  4px 0 #000,
        4px  4px 0 #000,
        -4px  0px 0 #000,
        4px  0px 0 #000,
        0px -4px 0 #000,
        0px  4px 0 #000;
}


#titulo h3 {
    font-size: 25px;
    text-shadow:  /* Con esto consigo que el texto blanco tenga contorno negro y que destaque respecto al fondo*/
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px  2px 0 #000,
        2px  2px 0 #000,
        -2px  0px 0 #000,
        2px  0px 0 #000,
        0px -2px 0 #000,
        0px  2px 0 #000;
}



#imgAmazing{
    float:left; /* Para que se pegue a la izquierda y el título pueda colocarse a su lado. */
    padding: 10px;
    margin-left:10px;
    margin-right:30px;
    margin-top: 100px;
}



#cookies{
    position: absolute; /* Para que sea un elemento fuera del flujo de la página. */
    top: 20%;
    left: 30%;
    right: 30%; /* Empleo right (así termino de especificar bien el espacio ocupado por la caja y no corro el riesgo de que quede descentrada u ocupe más espacio del desado):*/
    border-color: red;
    border-width: 0.5px;
    border-style: solid; /* Recuerda que si no le das valor al style el border es invisible. */
    background-color: white;
    padding: 10px;
    text-align: center;

}



#contenidoCookies{
    text-align: center;

}


#contenidoCookies a{
    text-decoration: none; /* Para que la opción de "Cerrar" no aparezca subrayada. */
    background-color: #07a31b;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 2%;
    padding-left: 2%;

}


#fondoContent{
    background-color: #3a3939;
    margin-top: 200px; /* Con esto consigo que el contenido empiece más abajo para que al entrar en la página se vea más el fondo.*/
    border-top-style: dashed;
    border-top-color: white;
    border-top-width: 3px;
    
    /*padding-top: 5px;*/
    /*
    position: fixed;
    min-height: 100%;
    */
    /* max-height: 40%; */
}




#content{
    margin-top: 5px;
    padding-top: 15px;
    clear: both; /* Dado que en la imagen de #imgAmazin usamos float y estaba arriba de content, en #content hemos de hacer clear: both para asegurarnos de que no suba hacia arriba ocupando los huecos libres previos a él. */
    width: 75%; /* Esto es para que no ocupe toda la anchura y así no se solape con el menú lateral de la derecha (dicho menú lo hemos sacado del flujo del html).*/
    margin: 0 auto;
    background-color: #3a3939;
}



#introTatuajes{
    background-color: #5a5a5a;
    padding: 15px;
    border-radius: 30px;
    border-style: dashed;
    border-color: #acacac;
    overflow: hidden; /* Porque sino la #imgRight se sale por bajo. */
}



#imgRight{ /* Esta es la imagen del tatuaje costillas. */
    float:right; /* Para que se pegue a la derecha y el texto #introTatuajes pueda colocarse a su lado. */
    /*vertical-align: middle; -> para que la imagen se coloque centrada verticalmente en su contenedor */
    margin-left: 15px; /* para que el texto no se pegue a la imagen */
    border-radius: 30px;
    border-style: dashed;
    border-color: white;
    overflow: hidden;
    line-height: 0; /* Con esto logré resolver el efecto de que se cortaba parte de la imagen (explicado al final del css). */
}


#parrafoIntro{
    text-align: justify;
    margin: 5px; /* Para que no se pegue a los bordes de la caja. */
    color: rgb(179, 178, 178);
}



#culturaTatuajes{
    clear: both; /* Para que la segunda capa no trate de subir y completar los huecos de la primera capa. */
    background-color: #5a5a5a;
    padding: 15px;
    padding-bottom: 16px;  
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border-style: dashed;
    border-color: #acacac;
    overflow: hidden; /* Porque sino la #imgLeft se sale por bajo. */

}



#imgLeft{ /* Esta es la imagen del tatuaje marioneta. */
    float:left; /* Para que se pegue a la derecha y el texto #introTatuajes pueda colocarse a su lado. */
    margin-right: 15px; /* para que el texto no se pegue a la imagen */
    border-radius: 30px;
    border-style: dashed;
    border-color: white;
    overflow: hidden; /* Esto es necesario porque sino no se redondean los bordes. Es raro porque en ejercicios anteriores si que se redondeaban bien las imagenes sin necesidad de añadir esto. */
    line-height: 0; /* Con esto logré resolver el efecto de que se cortaba parte de la imagen (explicado al final del css). */
}



#parrafoCultura{
    text-align: justify;
    margin: 10px;
    margin: 15px; /* Para que no se pegue a los bordes de la caja. */
    color: rgb(179, 178, 178);
}


#fondoContent::after{ /* Esto lo tuve que añadir porque la #imgLeft sobresalía por bajo y generaba un espacio entre el footer y el #fondoContent que quedaba sin fondo gris. */
    clear: both; /* Después del fondoContent eliminas el efecto de los float.*/
    display: table; /* Hace que el elemento sea un contenedor de bloque capaz de envolver elementos flotantes. También se puede usar block, pero table a veces da menos problemas de colapso de márgenes. */
    content: ""; /* Sin content el elemento no se renderiza y el resto no funciona. */
}




#sideMenu{
    clear: both;  /* Como en el HTML esto va después de la segunda capa de floats he de usar clear. Nota a posteriori: en realidad no hace falta porque el side menu lo hemos sacado del flujo.  */
    display: block; /* Como queremos que los <li> queden formando una columna usamos "display: block;"*/
    position: fixed; /* Lo sacamos del flujo para colocarlo en el margen derecho. */
    right: 40px; 
    top: 25%;

}

#sideMenu li{
    list-style: none; /* Para que no se vean los puntos de cada <li> en una <ul>. OJO -> al principio no funcionaba porque lo había puesto en "#menu{" y no en "#menu li{" */
}


footer {
    clear: both;
    text-align: center;
    border-top-style: dashed;
    border-color: white;
    background-color: #07a31b;
    color: white;
    
}


#menu li a:hover{
    background-color: #ffa500;
    color: #0000ff;
    text-decoration: underline;
}


#contenidoCookies a:hover{
    background-color: #ffa500;
    color: #0000ff;
    text-decoration: underline;
}





@media all and (max-width: 500px) { 
    
    #fondoContent{
        margin-top: 5%;
    }


    #imgAmazing{
        margin-top: 10%;
        margin-bottom: 0%;
        padding: 0;
        display: block;
        float: none;
        clear: both;
        width: 100%;
        text-align: center; /* Para que se centre. */
        margin-left: 0px; /* Sobreescribiendo la instrucción que tenía antes, para que se centre bien al ser la pestaña tan pequeña. */
        margin-right: 0px; /* Sobreescribiendo la instrucción que tenía antes, para que se centre bien al ser la pestaña tan pequeña. */
    }


    #titulo{
        margin-top: 0%;
        padding: 0;
        clear: both;
        text-align: center;
        margin-left: 0px; /* Sobreescribiendo la instrucción que tenía antes, para que se centre bien al ser la pestaña tan pequeña. */
    }


    #imgRight{
        float: none; /* Para que la imagen se coloque encima de su correspondiente texto en lugar de al lado (adaptándose a las nuevas dimensiones reducidas de la ventana). */
        clear: both;
        margin-bottom: 10px;
        line-height: 0;
        display: block;
        width: 80%;
        text-align: center;
        margin: auto;
        
        

    }


    #imgLeft{
        float: none; /* Para que la imagen se coloque encima de su correspondiente texto en lugar de al lado (adaptándose a las nuevas dimensiones reducidas de la ventana). */
        clear: both;
        margin-bottom: 10px;
        width: 80%;
        margin: auto;
     
    }

    #parrafoCultura{
        clear: both; /* Pensaba que esto no hacía falta ya que ya hice un "float: none;" en #imgLeft, pero por lo visto los efectos del float persistían en los elementos posteriores. La primera palabra del párrafo se subía junto a la imagen. Pero al añadir esto se ha resuelto. */
    }

    #parrafoIntro{
         clear: both; /* Como en el #parrafoCultura esto fue necesario, lo añado también aquí por si acaso ya que el contexto es el mismo (texto que sigue a una imagen que antes tenía float). */
    }


    #sideMenu{
        position: static; /* Esto lo mete de nuevo en el flujo del html. */
        text-align: center;
        width: 100%;
        background-color: #3a3939;

    }


    #sideMenu li{
        display: inline-block;
        
    }

}






/*

###########################################################################################################################################################################################

*/


/*

CÓMO HE LOGRADO CIERTAS COSAS: 


1) Para las clases he usado "." y para los id he usado "#" (de lo contrario no funcionaría). 


2) La barra superior del menú. 

        2.1.- Para que salgan los elemenos <li> salgan unos al lado de otros hay que darles el valor "display: inline;"_______________________________________________________HECHO

        2.2.- Detalle para mejorar: el "display: inline;" se lo asignas también al <a> además de al <li> porque así el <a> ocupa todo el ancho de su contenedor (<li>) y el ÁREA CLICABLE es toda 
        esa área (mejor diseño).______________________________________________________________________________________________________________________________________________HECHO


3) "Debajo se ve el fondo de la página que NO se desplaza al usar el scroll."

        3.1.- Ojo -> el css está dentro de la carpeta css, por ello, al poner la url (de la imagen del fondo de la página) hemos de empezar por "../" -> para indicarle que lo primero en la ruta 
        es salir de la carpeta de css. 

        3.2.- Ojo -> "position: fixed;" no vale para fondos. En su lugar usamos: "background-attachment: fixed;"


4) El menú lateral a la derecha -> la dificultad aquí está en darte cuenta de que para lograr esa posición lo que se ha hecho es sacarlo del flujo del html. 

        4.1.- Además, para que no se solape con los elementos que quedan debajo -> has de configurar el #content para que no ocupe el 100% del width de su contenedor. 


5) IMPORTANTE: la barra superior del menú era demasiado gruesa y no había forma de resolverlo (ni con margin ni con padding; ni en el propio "#menu" ni en los "#menu li{").

        5.1.- Finalmente he descubierto que había que añadir esto (que sí estaba en la práctica anterior de float)::after

                        *{
                            margin: 0px auto; 
                        }    


6) IMPORTANTE: las imagenes #imgRight e #imgLeft perdían un cacho por bajo (y por el lado derecho cuando se aplicaba el @media por tamaño de la ventana inferior a 500px).

        - Esto se debía a que había puesto "overflow:hidden;" (necesario para que se recortara la imagen al llegar a sus bordes redondeados).

        6.1.- El problema surgía porque la caja de las imagenes (me refiero a la que tiene toda imagen creada) si tiene una altura mínima aunque yo no se la haya definido. Entonces por debajo 
        de esa altura el overflow era hidden (invisible). 

                        - La solución fue especificar que la altura de la imagen debe ser 0 -> de ese modo se coloca justo en esa línea y nada es "overflow". 

        6.2.- El mismo fenómeno sucedía al aplicarse el código del @media por tamaño de la ventana inferior a 500px.

                        - En este caso lo que se cortaba era el borde derecho de las imágenes. La única forma de resolverlo fue reducir el width de las imagenes. 

                        - Consejo: Cuando uses "border-radius" + "overflow: hidden" + imágenes que llenen el contenedor, deja siempre un pequeño “margen de seguridad” en el contenedor 
                        (como 90–95%) para que la curva no choque con el contenido.

*/










/* 

################################################################################################################################################################################################

*/




/*

OTRAS COSAS QUE HE APRENDIDO/REPASADO:


1) Diferencia entre "display: block;" y "display: inline-block;"

        1.- "display: block;"

                - El elemento pasa a ocupar toda la línea disponible horiontalmente. 

                - Siempre empieza en una línea nueva y después de él todo lo siguiente queda debajo.

                - Permite asignarle ancho (width) y alto (height).

        2.- "display: inline-block;"

                - El elemento Se comporta como un inline (en línea), es decir, puede estar junto a otros elementos en la misma línea.

                 - Pero, al mismo tiempo, y a diferencia de los "display: inline" (cuyo tamaño depende solo del contenido) respecta el width y el height que le especifiques. 

            
        3.- TRUCO visual: Para los iconos del menú lateral: inline-block es ideal si quieres que estén uno junto a otro HORIZONTALMENTE, y block si quieres que queden en COLUMNA.










*/





/* 

ACLARACIONES PURAMENTE TEÓRICAS (no prácticas):

1) En CSS hay "propiedades" y en HTML hay "atributos".

*/



/*   

La página que vamos a crear en esta tarea debe tener la estructura básica que se muestra en el pdf (enunciado) de la tarea. Siguiendo esa estructura básica nos da 2 opciones:

            a) Imitar la web que se te indica en el pdf. 

            b) Crear tu propia web, con otras imagenes y otros textos - pero OJO: lo que sí debes seguir es la estructura básica indicada al inicio del pdf. 

Esta es la primera web que vamos a hacer. Y viendo lo mucho que me costó hacer la primera práctica de float, creo que lo mejor es simplemente imitar la web que el nos muestra
(así no pierdo tiempo en pensar el diseño estético de la web y voy directo a los retos técnicos, que todo a punta a que serán muchas horas de dedicación). 


*/




