



































/*

#############################################################################################

*/


/*   

La página que vamos a crear en esta tarea debe tener la estructura básica que se muestra en el pdf (enunciado) de la tarea. Siguiendo esa estructura básica nos da 2 opciones:

            a) Imitar la web que se te indica en el pdf. 

            b) Crear tu propia web, con otras imagenes y otros textos - pero OJO: lo que sí debes seguir es la estructura básica indicada al inicio del pdf. 

Esta es la primera web que vamos a hacer. Y viendo lo mucho que me costó hacer la primera práctica de float, creo que lo mejor es simplemente imitar la web que el nos muestra
(así no pierdo tiempo en pensar el diseño estético de la web y voy directo a los retos técnicos, que todo a punta a que serán muchas horas de dedicación). 


*/




