

body {
    font-family: Verdana;
}


.bloque {
    width: 50%;
    margin-left: 0;
}


.texto {
    float: left;
    width: 60%;
    text-align: justify;
}


.foto {
    float: left;
    width: 40%;
}


.bloque::after {
    content: "";
    display: block;
    clear: both;
}






/*

COMENTARIOS / RECORDATORIOS:

1) Recuerda, en el archivo .html que use este CSS en su <head> debe incluir está línea de código:

        <head>
            [...]
            <link rel="stylesheet" type="text/css" href="./css/estilos.css" media="screen" />
        </head>



*/