
body {
    font-family: Verdana;
    margin: 20px;
}

.contenedor {
    width: 70%;        
    margin: 0 auto;    
}

.bloque {
    width: 100%;       
}

.texto {
    float: left;
    width: 60%;
    text-align: justify;
}

.foto {
    float: left;
    width: 10%;
}

.foto img {
    width: 100%;        

}

.bloque::after {
    content: "";
    display: block;
    clear: both;
}

h3 {
    margin-top: 30px;
    text-align: auto;   
}






/*

COMENTARIOS / RECORDATORIOS:

1) Recuerda, en el archivo .html que use este CSS en su <head> debe incluir está línea de código:

        <head>
            [...]
            <link rel="stylesheet" type="text/css" href="./css/estilos.css" media="screen" />
        </head>



*/