
/*
Como extra del ENUNCIADO se añaden estos datos:
    CSS para el examen

    colores:

    fondo: #333333;
    fondo: cajas: #424242;
    linea: lightgray;
    boton: #007BFF;
    boton seleccionado: #0056b3;
*/


body {
    /* 1- color de fondo */
    background-color: #333333;
    /* 2- ancho 90% */
    width:90%;
    /* 3- centrar */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.container {
    text-align: center;
}



.youtuber, .footer, .header {
    /* 4- color de fondo */
    background-color: #424242;

    border: 1px solid lightgray;

    /* 5- redondear el borde */
    border-radius: 30px;

    /* 6- sombra */
    box-shadow: 5px 5px 5px 5px black;

    margin: 10px auto;
    padding: 20px;
    text-align: center;    
}



.footer {
    padding: 0px;
    color: white;
}



.imageHome{
    border:black 4px solid;
    /* Para que la imagen salga redondeada: */
    border-radius: 3%;

    /* 7- tamanyo */

    /* Se utiliza en imágenes y videos 
    para asegurarse de que siempre llenen 
    completamente el contenedor, manteniendo
    su relación de aspecto*/
    object-fit: cover; 
}



.youtuber .images {

    /* 8- redondear la imagen*/
    border-radius: 3%;

    width: 150px;
    height: 150px;    

    /* Se utiliza en imágenes y videos 
    para asegurarse de que siempre llenen 
    completamente el contenedor, manteniendo 
    su relación de aspecto*/
    object-fit: cover; 
}



.youtuber h2 {    
    color: white;
    font-size: 1.5em;
    margin: 10px 0;
}



.youtuber p {
    color: white;
    font-size: 1em;
}



#menu {
    /* 9- quita los puntos */
    /* Para lograrlo no me vale el truco del ejercicio anterior de hacer "display: inline-block;". Porque ahora me pide que quite los puntos
    empleando "#menu {" y no "#menu li{". Por ello es necesario aprenderse esta propiedad: */
    list-style: none;
}




li {
    /* 10- haz que los li no sean de tipo bloque */
    /* El nombre del valor "inline-block" puede llevar a confusión. Aclarar: NO es un elemento tipo bloque, sino un elemento de línea con
    comportamiento de bloque. Que sea un elemento de línea y no de bloque es lo que permite que se puedan colocar unos al lado de otros 
    en una misma línea. Que su comportamiento sea de bloque implica que acepta width, height, padding y margin. */
    display: inline-block;


    /* 11- borde izquierdo rojo */
    border-left: 4px red solid;
    /* 12- separa el borde de la izquierda */
    padding-left: 5px;
}




#menu a {
    /* 13- enlaces blancos */
    color: #ffffff;
    /* 14- sin subrayado */
    /* Para lograr esto hay que aprender una nueva propiedad. Esta nueva propiedad no elimina el color del enlace. */
    text-decoration: none;

}



#menu a:hover {
    /* 15- cambia el color al subrayado*/
}




.button {
    padding: 10px 20px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    /* animacion en css, para cambiar el color del boton, no visto en clase 
    pero yo te lo regalo ;) */
    transition: background-color 0.3s ease;
}




.button:hover {
    /* 16- cambia el color al boton*/
}




@media all and (max-width: 700px) {
    .youtuber, .footer {
        /* 17- cambia el color al BORDE*/
    }
    .button {
        /* 18- cambia el color al boton*/        
    }
    .button:hover {
        /* 19- cambia el color al boton*/
    }    
}




/* 

PENDIENTE de hacer: la modificación del index.html para convertirlo en HTML5 requiere realizar las correspondientes modificaciones del CSS:

1) Dado que has sustituido el <div class="header"> por <header> y has sacado el <header> del <body>:

        1.1.- 

2) Dado que has eliminado el <div class="container">: 

        2.1.- 

3) Dado que has sustituido el <div class="youtuber"> por <section id = "youtuber">:

        3.1.- 

4) Dentro del selector ".imageHome {" ha indicado "7-Tamanyo" como queriendo decir que he de ajustar el tamaño de la imagen.

        - Pero todavía no se qué es lo más apropiado para este caso. En el enunciado (pdf) no ha indicado ningún valor exacto para el tamaño de la 
        imagen. 

*/








/*
NOTA: aclaraciones sobre algunas propiedades:

1.- box-shadow
        - Ejemplo:
                box-shadow: 5px 5px 5px 5px black;
        - El 1r valor = desplazamiento horizontal de la sombra.
        - El 2o valor = desplazamiento veritcal de la sombra. 
        - El 3r valor = difuminado (blur). 
        - El 4o valor = spread = cuánto se expande la sombra hacia fuera. 
        - Si solo pones 3 valores entonces se considera que el 4o valor es cero. 




*/