


body {
    background-image: url("../images/fondo.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

    /* Ahora aplico el tipo de fuente obtenida de Google: */
    font-family: "Science Gothic", sans-serif;
}



/* Añado el siguiente bloque "html, body" para lograr que la imagen de fondo ocupe toda la pantalla. Y lo consigo haciendo que el html cubra toda la pantalla. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}



h1 {
    background-color: darkgray;
    color: white;
    text-align: center;
    border-left: 5px solid #ff0000;

    /* Ahora aplico el tipo de fuente obtenida de Google: */
    font-family: "Science Gothic", sans-serif;
}

/* Para centrar el título pese a que ahora es una box que no ocupa la línea entera:*/

#header {
    text-align: center;
}


/* ESTO SIGUE SIN FUNCIONAR: LA IMAGEN DEL PERIODICO OCULTA LOS BOTONES. */
img {
    width: 500px;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;    /* Esto me permite que el borde sea redondeado.*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}


ul {
    text-align: center;
}


li {
    text-align: center;
    border: 1px solid black;
    display: inline-block;
}


#content{
    text-align: center;
    align-items: center;
}


.science-gothic {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}